#projectImage {
  height:280px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fde2e4;
  font-size: 20px;
  text-align: center;
}

.card {
  margin-top: 20px;
  background-color: #dfe7fd;
  box-shadow: 2px 2px 4px #778da9;
  border-radius: 40px;
  width: 110vh;
}

.content {
  margin-right: 20px;
  text-align: center;
}

#button {
  background-color: #cddafd;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 4px #778da9;
}