.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #FFE5B4;
  font-size: 20px;
}

#aboutTitle {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
  color:white;
}