.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.formTitle {
  display: block;
  color: white;
  font-size: 30px;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

input.form {
  display: flex;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.button {
  align-items: center;
  display: block;
}

.formContainer {
  display: flex;
  flex-direction: column;
  height: 78vh;
  background-color: #fde2e4;
  align-items: center;
  align-content: center;
}


