.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fde2e4;
  font-size: 20px;
}

#skillsTitle {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
  color:white;
}

.skillsContainer {
  border: 2px solid #BEBFC5;
  padding: 20px 20px 20px 20px;
  background-color: #dfe7fd;
  box-shadow: 2px 2px 4px #000000;
  border-radius: 30px;
  align-items: flex-start;
}